<div class="card">
  <h4 class="card-header">{{ title }}</h4>
  <div class="card-body">
    <form #step3Form="ngForm" novalidate> 
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="annualIncome">Total annual income (Before taxes)($USD)</label>
            <input type="text" class="form-control" #annualincome="ngModel" id="annualIncome" name="annualIncome" placeholder="$0.00" [(ngModel)]="step3.annualIncome">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="totalAssets">Total assets($USD)</label>
            <input type="text" class="form-control" #totalassets="ngModel" id="totalAssets" name="totalAssets" placeholder="$0.00" [(ngModel)]="step3.totalAssets">
        </div>
      </div>
      <div class="form-group text-center">
        <button type="button" class="btn btn-primary" [disabled]="!step3Form.valid" (click)="goToNext(step3Form)">Submit</button>
        <button type="button" class="btn btn-primary" (click)="quickSave(step3Form)">Save</button>
      </div>
    </form>
  </div>
</div>