<div class="card">
  <h4 class="card-header">{{ title }}</h4>
  <div class="card-body">
    <form #step3Form="ngForm" novalidate> 
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="annualincome">Total annual income (Before taxes)($USD)</label>
            <input type="text" class="form-control" #annualincome="ngModel" id="annualincome" name="annualincome" placeholder="$0.00" [(ngModel)]="step3.annualincome">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="totalassets">Total assets($USD)</label>
            <input type="text" class="form-control" #totalassets="ngModel" id="totalassets" name="totalassets" placeholder="$0.00" [(ngModel)]="step3.totalassets">
        </div>
      </div>
      <div class="form-group text-center">
        <button type="button" class="btn btn-primary" [disabled]="!step3Form.valid" (click)="goToNext(step3Form)">Submit</button>
      </div>
    </form>
  </div>
</div>