<FORM>
	<div id="line1">
		<span>Property Type</span>
		<select>
			<option value="singleFamily">Single Family</option>
			<option value="apartment">Apartment</option>
			<option value="condo">Condo</option>
			<option value="duplex">Duplex</option>
		</select></div>
	
	<br>

	<div id="line2">
		<span>Is the property attached to another home?</span>
		<input type="radio" name="yes"> Yes
		<input type="radio" name="no"> No</div>

	<br>

	<div id="line3">
		<span>Use of property</span>
		<select>
			<option value="primaryResidence">Primary Residence</option>
			<option value="secondHome">Second Home</option>
			<option value="investmentProperty">Investment Property</option>
		</select>
	</div>
	
	<br>

	<div id="line4">
		<span>Purchase price ($USD)</span>
		<input type="text" id="purchasePrice">
		<a href="https://www.zillow.com/">Find Home Values</a>
	</div>
	
	<br>

	<div id="line5">
		<span>Down payment amount ($USD)</span>
		<input type="text" id="downPayment">
	</div>
	
	<br>

	<div id="line6">
		<span>Annual real estate taxes ($USD)</span>
		<input type="text" id="annualTaxes">
	</div>

	<br>

	<div id="line7">
		<span>Annual hazard insurance premium ($USD)</span>
		<input type="text" id="annualHazard">
	</div>

	<br>

	<div id="line8">
		<span>Annual flood insurance premium ($USD)</span>
		<input type="text" id="annualFlood">
	</div>

	<br>

	<div id="line9">
		<span>Do you have a real estate agent?</span>
		<input type="radio" id="yes2"> Yes
		<input type="radio" id="no2"> No
	</div>

	<br>

	<div id="line10">
		<span>When do you plan on buying a home?</span>
		<select>
			<option value="lessThan30Days">Less than 30 days</option>
			<option value="lessThan90Days">Less than 90 days</option>
			<option value="lessThan6Months">Less than 6 months</option>
			<option value="lessThan1Year">Less than 1 year</option>
			<option value="lessThan2Years">Less than 2 years</option>
		</select>
	</div>

	<br>

	<div id="line11">
		<span>Do you have a purchase agreement/contract?</span>
		<input type="radio" id="yes3"> Yes
		<input type="radio" id="no3"> No
	</div>

	<br>

	<div id="line12">
		<span>Do you have a home equity loan or any other mortgage loan?</span>
		<input type="radio" id="yes4"> Yes
		<input type="radio" id="no4"> No
	</div>

	<button>Back</button> <button>Cancel</button> <button>Continue</button>
</FORM>
