<div class="card">
	<h4 class="card-header">{{ title }}</h4>
	<div class="card-body">
		<form #step2Form="ngForm" novalidate>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="propertyType">Property Type</label>
					<select class="form-control" name="propertyType" #propertyType="ngModel" [(ngModel)]="step2.propertyType">
						<option>Single Family</option>
						<option>Apartment</option>
						<option>Condo</option>
						<option>Duplex</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="propertyAttached">Is the property attached to another home?</label>
					<div class="form-row">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="propertyAttached" id="propertyAttached" value="yes" #propertyAttached="ngModel" [(ngModel)]="step2.propertyAttached">
							<label class="form-check-label" for="propertyAttached">Yes</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="propertyAttached" id="propertyAttached" value="no" #propertyAttached="ngModel" [(ngModel)]="step2.propertyAttached">
							<label class="form-check-label" for="propertyAttached">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Use of property</label>
					<select class="form-control" name="useOfProperty" #useOfProperty="ngModel" [(ngModel)]="step2.useOfProperty">
						<option>Primary Residence</option>
						<option>Second Home</option>
						<option>Investment Property</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Purchase price ($USD)</label>
					<input class="form-control" type="text" name="purchasePrice" #purchasePrice="ngModel" [(ngModel)]="step2.purchasePrice">
					<a target="Blank" href="https://www.zillow.com/">Find Home Values</a>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Down payment amount ($USD)</label>
					<input class="form-control" type="text" name="downPayment" #downPayment="ngModel" [(ngModel)]="step2.downPayment">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Annual real estate taxes ($USD)</label>
					<input class="form-control" type="text" name="annualTaxes" #annualTaxes="ngModel" [(ngModel)]="step2.annualTaxes">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Annual hazard insurance premium ($USD)</label>
					<input class="form-control" type="text" name="annualHazard" #annualHazard="ngModel" [(ngModel)]="step2.annualHazard">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Annual flood insurance premium ($USD)</label>
					<input class="form-control" type="text" name="annualFlood" #annualFlood="ngModel" [(ngModel)]="step2.annualFlood">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Do you have a real estate agent?</label>
					<div class="form-row">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="agent" id="agent" value="yes" #agent="ngModel" [(ngModel)]="step2.agent">
							<label class="form-check-label" for="agent">Yes</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="agent" id="agent" value="no" #agent="ngModel" [(ngModel)]="step2.agent">
							<label class="form-check-label" for="agent">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>When do you plan on buying a home?</label>
					<select class="form-control" name="homePlan" #homePlan="ngModel" [(ngModel)]="step2.homePlan">
						<option>Less than 30 days</option>
						<option>Less than 90 days</option>
						<option>Less than 6 months</option>
						<option>Less than 1 year</option>
						<option>Less than 2 years</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Do you have a purchase agreement/contract?</label>
					<div class="form-row">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="purchaseAgreement" id="purchaseAgreement" value="yes" #purchaseAgreement="ngModel" [(ngModel)]="step2.purchaseAgreement">
							<label class="form-check-label" for="purchaseAgreement">Yes</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="purchaseAgreement" id="purchaseAgreement" value="no" #purchaseAgreement="ngModel" [(ngModel)]="step2.purchaseAgreement">
							<label class="form-check-label" for="purchaseAgreement">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Do you have a home equity loan or any other mortgage loan?</label>
					<div class="form-row">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="equity" id="equity" value="yes" #equity="ngModel" [(ngModel)]="step2.equity">
							<label class="form-check-label" for="equity">Yes</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="equity" id="equity" value="no" #equity="ngModel" [(ngModel)]="step2.equity">
							<label class="form-check-label" for="equity">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group text-center">
				<button class="btn btn-primary" [disabled]="!step2Form.valid" (click)="goToNext(step2Form)">Next</button>
				<button type="button" class="btn btn-primary" (click)="quickSave(step2Form)">Save</button>
			</div>
		</form>
	</div>
</div>
