<app-toast [message]="toast.message"></app-toast>
<div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-3">
          <nav class="nav nav-pills nav-justified flex-column navbar-dark bg-dark">
            <a [routerLink]="['./my-apps']" class="nav-link application-nav-item" routerLinkActive="active">
              <i class="fa fa-pencil-square-o"></i> My Applications
            </a>
            <a routerLink="../new" class="nav-link application-nav-item" routerLinkActive="active">
              <i class="fa fa-home" style="font-size: 127%"></i> Home Loan
            </a>
            <a routerLink="../new" class="nav-link application-nav-item" routerLinkActive="active">
              <i class="fa fa-car"></i> Car Loan
            </a>
            <a routerLink="../new" class="nav-link application-nav-item" routerLinkActive="active">
              <i class="fa fa-credit-card"></i> Credit Card
            </a>
          </nav>
      </div>
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>