<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-3">
      <app-form-navbar></app-form-navbar>
      <pre>{{ formData | json }}</pre>
    </div>
    
    <div class="col">
      <router-outlet></router-outlet>
    </div>
    <!--
    <div class="col">
      <div [@routerTransition]="getState(o)">
          <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>--><!--
    <div class="col" [@routerTransition]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
    </div>-->
  </div>
</div>