
<div class="card">
        <h4 class="card-header">{{ title }}</h4>
        <div class="card-body">
            <form #step1Form="ngForm" novalidate>          
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="control-label" for="firstName">First Name <span style="color:red">*</span></label>
                        <input class="form-control input-md" #firstname="ngModel" maxlength="50" required id="firstName" name="firstName" type="text" placeholder="First Name" [(ngModel)]="step1.firstName">   
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="middlename">Middle Name</label>
                        <input class="form-control input-md" #middlename="ngModel" maxlength="50" id="middleName" name="middleName" type="text" placeholder="Middle Name" [(ngModel)]="step1.middleName">
                    </div>
                    
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="lastname">Last Name <span style="color:red">*</span></label>
                            <input class="form-control input-md" #lastname="ngModel" required maxlength="50" id="lastName" name="lastName" type="text" placeholder="Last Name" [(ngModel)]="step1.lastName">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dob">Date of Birth <span style="color:red">*</span></label>
                        <input type="text" class="form-control" #dob="ngModel" required placeholder="10/30/1990" pattern="((?:0[1-9])|(?:1[0-2]))\/((?:0[0-9])|(?:[1-2][0-9])|(?:3[0-1]))\/(\d{4})" id="dob" name="dob" placeholder="dd/mm/yyyy" [(ngModel)]="step1.dob">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email <span style="color:red">*</span></label>
                        <input type="text" class="form-control" #email="ngModel" required placeholder="test123@test.com" maxlength="50" id="email" name="email" placeholder="email@provider.com" [(ngModel)]="step1.email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="PrimaryPhone">Primary Phone Number <span style="color:red">*</span></label>
                        <input type="text" class="form-control" #primaryPhone="ngModel" required placeholder="7035556501" minlength="10" maxlength="10" pattern="^\s*(?:\+?\d{1,3})?\d{3}(?:\d{3})?\d{4}(?: *[x/#]\d+)?\s*$" name="primaryPhone" id="inputPrimaryPhone" [(ngModel)]="step1.primaryPhone">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPrimaryPhoneType">Primary Phone Type</label>
                        <select name="primaryPhoneType" #primaryPhoneType="ngModel" [(ngModel)]="step1.primaryPhoneType" id="inputPrimaryPhoneType" class="form-control">
                            <option selected>Select Phone Type</option>
                            <option>Cell</option>
                            <option>Home</option>
                            <option>Work</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAlternatePhone">Alternate Phone Number</label>
                        <input type="text" class="form-control" #alternatePhone="ngModel" placeholder="5715559080" minlength="10" maxlength="10" pattern="^\s*(?:\+?\d{1,3})?\d{3}(?:\d{3})?\d{4}(?: *[x/#]\d+)?\s*$" name="alternatePhone" id="inputAlternatePhone" [(ngModel)]="step1.alternatePhone">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAlternatePhoneType">Alternate Phone Type</label>
                        <select name="alternatePhoneType" #alternatePhoneType="ngModel" [(ngModel)]="step1.alternatePhoneType" id="inputAlternatePhoneType" class="form-control">
                            <option selected>Select Phone Type</option>
                            <option>Cell</option>
                            <option>Home</option>
                            <option>Work</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                        <label for="inputAddress">Address <span style="color:red">*</span></label >
                        <input type="text" class="form-control" #currentAddress1="ngModel" required placeholder="123 Rose St." pattern="\d{1,5}\s\w\s(\b\w*\b\s){1,2}\w*\." name="currentAddress1" id="inputAddress" [(ngModel)]="step1.currentAddress1">
                    </div>
                <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" #currentAddress2="ngModel" placeholder="Apt. 30" pattern="^[a-zA-Z]+[a-z]+[a-z]+[.]\s[0-9]{1,4}$" name="currentAddress2" id="inputAddress2" [(ngModel)]="step1.currentAddress2">
                    </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City <span style="color:red">*</span></label>
                        <input type="text" class="form-control" #city="ngModel" required placeholder="Tempe" maxlength="20" pattern="^[a-zA-Z][a-zA-Z\s-]+[a-zA-Z]$" name="city" id="inputCity" [(ngModel)]="step1.city">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State <span style="color:red">*</span></label>
                        <select name="state" #state="ngModel" required [(ngModel)]="step1.state" id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>AZ</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip <span style="color:red">*</span></label>
                        <input type="text" #zipCode="ngModel" required placeholder="85282-1234" minlength="5" maxlength="10" pattern="^\d{5}(?:[-\s]\d{4})?$" class="form-control" name="zipCode" id="inputZip" [(ngModel)]="step1.zipCode">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="residencyStatus">Residency Status</label>
                        <select name="residencyStatus" #residencyStatus="ngModel" [(ngModel)]="step1.residencyStatus" id="residencyStatus" class="form-control">
                            <option>Select Residency Status</option>
                            <option>U.S. Citizen</option>
                            <option>Non-permenant Resident</option>
                            <option>Permenant Resident Alien</option>
                        </select>
                        <br>
                        <p style="color:red">*indicates a required field</p>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-primary" (click)="autofill()">AutoFill</button>
                    <button type="button" class="btn btn-primary" [disabled]="!step1Form.valid" (click)="goToNext(step1Form)">Next</button>
                    <button type="button" class="btn btn-primary" (click)="quickSave(step1Form)">Save</button>
                </div>
            </form>
        </div>
    </div>
