<div class="card">
    <h4 class="card-header">{{ title }}</h4>
    <div class="card-body">
        <form #step1Form="ngForm" novalidate>          
            <div class="row">
                <div class='col-1'>
                    <label class="control-label" for="firstname">First Name</label>
                </div>
                <div class="col-3"> 
                    <div class="form-group">
                        <input class="form-control input-md" #firstname="ngModel" required id="firstname" name="firstname" type="text" placeholder="First Name" [(ngModel)]="step1.firstName">   
                        <div class="alert alert-danger" [hidden]="firstname.valid">First Name is required</div>
                    </div>
                </div>
                <div class='col-1'>
                    <label class="control-label" for="lastname">Last Name</label>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input class="form-control input-md" #lastname="ngModel" required id="lastname" name="lastname" type="text" placeholder="Last Name" [(ngModel)]="step1.lastName">
                        <div class="alert alert-danger" [hidden]="lastname.valid">Last Name is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="control-label" for="dob">Date of Birth</label>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input class="form-control input-md" #dob="ngModel" required id="dob" name="dob" type="text" placeholder="(mm/dd/yyyy)" [(ngModel)]="step1.dob">
                        <div class="alert alert-danger" [hidden]="dob.valid">Date of Birth is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="control-label" for="primaryPhoneNumber">Primary Phone Number</label>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <input class="form-control input-md" #primaryAreaCode="ngModel" required id="primaryAreaCode" name="primaryAreaCode" type="text" placeholder="480" [(ngModel)]="step1.primaryAreaCode">
                        <div class="alert alert-danger" [hidden]="primaryAreaCode.valid">Area Code required</div>
                    </div>
                </div>
                -
                <div class="col-2">
                    <div class="form-group">
                        <input class="form-control input-md" #primaryPrefix="ngModel" required id="primaryPrefix" name="primaryPrefix" type="text" placeholder="000" [(ngModel)]="step1.primaryPrefix">
                        <div class="alert alert-danger" [hidden]="primaryPrefix.valid">Prefix required</div>
                    </div>
                </div>
                -
                <div class="col-2">
                    <div class="form-group">
                        <input class="form-control input-md" #primaryLineNumber="ngModel" required id="primaryLineNumber" name="primaryLineNumber" type="text" placeholder="0000" [(ngModel)]="step1.primaryLineNumber">
                        <div class="alert alert-danger" [hidden]="primaryLineNumber.valid">Line Number required</div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <select name="primaryPhoneType">
                            <option value="default">Select Phone Type</option>
                            <option value="mobile">Mobile</option>
                            <option value="home">Home</option>
                            <option value="work">Work</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="control-label" for="alternatePhoneNumber">Alternate Phone Number</label>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <input class="form-control input-md" #alternateAreaCode="ngModel" required id="alternateAreaCode" name="alternateAreaCode" type="text" placeholder="480" [(ngModel)]="step1.alternateAreaCode">
                    </div>
                </div>
                -
                <div class="col-2">
                    <div class="form-group">
                        <input class="form-control input-md" #alternatePrefix="ngModel" required id="alternatePrefix" name="alternatePrefix" type="text" placeholder="000" [(ngModel)]="step1.alternatePrefix">
                    </div>
                </div>
                -
                <div class="col-2">
                    <div class="form-group">
                        <input class="form-control input-md" #alternateLineNumber="ngModel" required id="alternateLineNumber" name="alternateLineNumber" type="text" placeholder="0000" [(ngModel)]="step1.alternateLineNumber">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <select name="alternatePhoneType">
                            <option value="default">Select Phone Type</option>
                            <option value="mobile">Mobile</option>
                            <option value="home">Home</option>
                            <option value="work">Work</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label class="control-label" for="email">Email</label>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input class="form-control input-md" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="email" name="email" type="text" placeholder="Email" [(ngModel)]="step1.email">
                        <div class="alert alert-danger" [hidden]="email.valid">Email is required and must be valid</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="control-label" for="residencyStatus">Residency Status</label>
                </div>
                <div class="col">
                    <div class="form-group">
                        <select ng-model="residencyStatus" ng-options="x for x in residencyStatus" name="residencyStatus">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="control-label" for="currentAddress">Current address</label>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input class="form-control input-md" #currentAddress="ngModel" id="currentAddress" name="currentAddress" type="text" [(ngModel)]="step1.currentAddress">
                        <div class="alert alert-danger" [hidden]="currentAddress.valid">Current Address is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="control-label" for="city">City</label>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input class="form-control input-md" #city="ngModel" id="city" name="currentAddress" type="text" [(ngModel)]="step1.city">
                        <div class="alert alert-danger" [hidden]="city.valid">City is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="control-label" for="state">State</label>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input class="form-control input-md" #state="ngModel" id="state" name="state" type="text" [(ngModel)]="step1.state">
                        <div class="alert alert-danger" [hidden]="state.valid">State is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="control-label" for="zipCode">Zip Code</label>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input class="form-control input-md" #zipCode="ngModel" id="zipCode" name="zipCode" type="text" [(ngModel)]="step1.zipCode">
                        <div class="alert alert-danger" [hidden]="zipCode.valid">Zip Code is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="control-label" for="residencyStatus">Residential Status</label>
                </div>
                <div class="col">
                    <div class="form-group">
                        <select name="residentialStatus">
                            <option value="default">Select Residential Status</option>
                            <option value="Own">Own</option>
                            <option value="Rent">Rent</option>
                            <option value="Living With Family">Living With Family</option>
                            <option value="Living Rent-Free">Living Rent-Free</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary" [disabled]="!step1Form.valid" (click)="goToNext(step1Form)">Next</button>
            </div>
        </form>
    </div>
</div>