<div class="card">
    <h4 class="card-header">{{ title }}</h4>
    <div class="card-body">
        <form #step1Form="ngForm" novalidate>          
            <div class="row">
                <div class='col'>
                    
                    <div class="form-group">
                            <label class="control-label" for="firstname">First Name</label>  
                            <input class="form-control input-md" #firstname="ngModel" required id="firstname" name="firstname" type="text" placeholder="First Name" [(ngModel)]="step1.firstName">   
                            <div class="alert alert-danger" [hidden]="firstname.valid">First Name is required</div>
<!--
                        <label class="control-label" for="firstname">First Name</label>  
                        <input class="form-control input-md"  required id="firstname" name="firstname" type="text" placeholder="First Name">   
                        <div class="alert alert-danger" >First Name is required</div>-->
                    </div>
                </div>
                <div class='col'>
                    <div class="form-group">
                            <label class="control-label" for="lastname">Last Name</label>  
                            <input class="form-control input-md" #lastname="ngModel" required id="lastname" name="lastname" type="text" placeholder="Last Name" [(ngModel)]="step1.lastName">
                            <div class="alert alert-danger" [hidden]="lastname.valid">Last Name is required</div>
<!--
                        <label class="control-label" for="lastname">Last Name</label>  
                        <input class="form-control input-md"  required id="lastname" name="lastname" type="text" placeholder="Last Name">
                        <div class="alert alert-danger" >Last Name is required</div>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <input class="form-control input-md" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="email" name="email" type="text" placeholder="Email" [(ngModel)]="step1.email">
                            <div class="alert alert-danger" [hidden]="email.valid">Email is required and must be valid</div>

                        <!--
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control input-md"  required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="email" name="email" type="text" placeholder="Email">
                        <div class="alert alert-danger" >Email is required and must be valid</div>-->
                    </div>
                </div>
            </div> 
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary" [disabled]="!step1Form.valid" (click)="goToNext(step1Form)">Next</button>
            </div>         
        </form>
    </div>
</div>


<!--
<form #personalForm="ngForm" class="" novalidate>
    <div class="tab-pane fade in active">
        <h4 class="head text-center">{{title}}</h4>
        <br/>
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                <div class="row">
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="firstname">First Name</label>  
                            <input class="form-control input-md"  required id="firstname" name="firstname" type="text" placeholder="First Name">   
                            <div class="alert alert-danger" >First Name is required</div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="lastname">Last Name</label>  
                            <input class="form-control input-md"  required id="lastname" name="lastname" type="text" placeholder="Last Name">
                            <div class="alert alert-danger" >Last Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input class="form-control input-md"  required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="email" name="email" type="text" placeholder="Email">
                    <div class="alert alert-danger" >Email is required and must be valid</div>
                </div>
                    
                <div class="form-group text-center">
                    <button class="btn btn-success btn-outline-rounded btn-info" (click)="goToNext(personalForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </div>
        </div>
    </div>
</form>
-->