<nav class="nav nav-pills nav-justified flex-column navbar-dark bg-dark">
  <a [routerLink]="['./step1']" class="nav-link sub-nav-button" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <i class="fa fa-home"></i> Step 1
  </a>
  <a [routerLink]="['./step2']" class="nav-link sub-nav-button" routerLinkActive="active">
    <i class="fa fa-home"></i> Step 2
  </a>
  <a [routerLink]="['./step3']" class="nav-link sub-nav-button" routerLinkActive="active">
    <i class="fa fa-home"></i> Step 3
  </a>
</nav>

